@media{
    #topper {
        padding: 0%
    }

    
    .parallax {
        background-image: url(08_31_2022-SUN-JENKINS-MS-WOODRING-0506-scaled.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    .parallax2 {
        background-image: url(adoption-schuldt-os-11-1.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: 20% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .parallax3 {
        background-image: url(grant-frontier-innovative-parks-os-2-03.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: 40% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    
img {
    width:100%
    
}
#content{
    width:70%;
    font-family: 'forum', sans-serif;
    color:#ffffff;
    font-size: 20px;
    padding:80px 0px 0px 0px;
}

body{
    background-color: #746087;
}
.pullquote {
    height:2%;
    font-family: 'forum', sans-serif;
    padding: 20px 20px 0px 20px;
    font-size: 50px;
    color:#0f0f0e;
    }

h1 {
    height:1%;
    font-family: 'forum', sans-serif;
    padding: 20px 20px 0px 20px;
    font-size: 40px;
    color:#faf0d7; 
}
  
 
    
}
@media (min-width:576px) {
    
}
@media (min-width:992px) {
    
}
@media (min-width:1200px) {
    
}