@media{
    #topper {
        padding: 0%
    }

    
    .parallax {
        background-image: url(mandatory-reporting-os-3.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    .parallax2 {
        background-image: url(mandatory-reporting-carwyn-os-1.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: 20% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .parallax3 {
        background-image: url(JPM1344-STEAMBOAT-DAYCARE_DESERTS_20220817-E-scaled.jpg.webp);
        min-height: 100vh;
        background-attachment: fixed;
        background-position: 40% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    .caption {
        font-size:10px;
        color:#B0B2B8;
        padding: 5px 25% 0px 7px;
        font-family: 'DM Sans', monospace
    }
    
img {
    width:100%
    
}
#content{
    width:70%;
    font-family: 'forum', sans-serif;
    color:#ffffff;
    font-size: 20px;
    padding:80px 0px 0px 0px;
}

body{
    background-color: #746087;
}
.pullquote {
    height:2%;
    font-family: 'forum', sans-serif;
    padding: 20px 20px 0px 20px;
    font-size: 10px;
    color:#0f0f0e;
    font-weight: 300;
    Width: 200px;
    border-radius: 500px;
    margin: 25px 0px 0px 0px;
    outline:10px solid purple;
   
        
    }
    .attribution{
        
    }

h1 {
    height:1%;
    font-family: 'forum', sans-serif;
    padding: 20px 20px 0px 20px;
    font-size: 40px;
    color:#faf0d7; 
}
  
 
    
}
@media (min-width:576px) {
    
}
@media (min-width:992px) {
    
}
@media (min-width:1200px) {
    
}