button {
background-color: red;
color: white;
font-size: 30px;
border: black;
Width: 200px;
padding: 25px 50px 75px 100px;
margin: 25px 50px 75px 100px;
 
}

h1 {
font-family: inherit;
background-color: ;
color:black;
font-size: 30px;

    
}

h2{
font-family: cursive;
background-color:;
color: black;
font-size:30px;
font-weight:300
text-transform:capitalize;
letter-spacing:normal;


    
}