button {
background-color: red;
color: white;
font-size: 30px;
border: black;
Width: 200px;

}

h1 {
font-family: inherit;
background-color: ;
color:aqua;
font-size: 30px;

    
}

h2{
font-family: cursive;
background-color: red;
color: white;
font-size: 30px;

    
}